html, body {
    height: 100%;
    color: #fff;
}
body {
    min-width: 100%;
}

h2{
    text-align: center;
    color: red;
}

.p{
    border-radius: 50%;
    height: 100%;
    width: 100%;
}

.p2{
    margin-left: 20px;
    margin-top: 10px;
    float: left;
    height: 60px;
    width: 60px;
}

.p3{
    margin-top: 5px;
    margin-left: 13px;
    width: 400px;
    height: 300px;
}
/*.p3{*/
/*    !*margin: 20px;*!*/
/*    width: 100px;*/
/*    height: 100px;*/
/*}*/

header{
    height: 150px;
    margin-left: 15%;
    width: 70%;
    background-color: darkgray;
    min-height: 20%;
    min-width: 50%;
}

.header01{
    margin-top: 10px;
    float: left;
    height: 150px;
    width: 150px;
    margin-left: 3%;
    margin-right: 5%;
}

.header02{
    margin-top: 25px;
    float: left;
    padding-left: 5px;
    color: antiquewhite;
    text-align:left;
}

.header03{
    margin-right: 20px;
    float: right;
    height: 100px;
    width: 200px;
}

.header03-01{
    margin-top: 50px;
    line-height: 35px;
    text-align: center;
    height: 35px;
    width: 80px;
    border-radius: 25px;
    border: 1px solid red;
    float: left;
}

.header03-02{
    margin-top: 50px;
    line-height: 35px;
    text-align: center;
    height: 35px;
    width: 80px;
    border-radius: 25px;
    border: 1px solid red;
    float: right;
}

.header04{
    margin-top: 63px;
    float: left;
    padding-left: 100px;
    color: antiquewhite;
    text-align:left;
}



.a1{
    min-height: 1%;
    border: 1px solid white;
}


.section01{

    height: 70%;
    margin-left: 15%;
    width: 70%;
    min-width: 50%;
}


.nav01 {
    height: 90%;
    float: left;
    background-color: hsla(300,60%,20%,.9);
    padding: 1%;
    width:15%;
}

.nav02{

    margin-top: 15px;
    /*line-height: 25px;*/
    height: 35%;
    width: 100%;
    border-radius: 15px;
    background-color: darkgray;
    border: 1px solid red;
}
.nav03{
    margin-top: 20px;
    line-height: 25px;
    height: 150px;
    width: 100%;
    border-radius: 15px;
    background-color: darkgray;
    border: 1px solid red;
}



.article01 {
    height: 90%;
    float: left;
    width: 60%;
    background-color: hsla(120,50%,50%,.9);
    padding: 1%;
}


.aside01 {
    width: 19%;
    height: 90%;
    float: right;
    background-color: hsla(20,80%,80%,.9);
    padding: 1%;
}


footer {
    background-color: hsla(200,10%,20%,.9);
    height: 20%;


}

.footer01{
    margin-left: 25%;
    width: 400px;
    float: left;
}
.footer02{

    float: left;
    width: 400px;

}
.footer03{
    width: 400px;
    float: left;

}


